<div class="hero">
  <div class="hero-title-container">
    <div class="hero-text-container">
      <h1>KOMBUCHA</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, id. Illum
        deleniti sed cum quam ad, maxime eaque inventore
      </p>
      <div class="hero-a-container">
        <a href="/collections/all">Buy Now</a>
      </div>
    </div>
  </div>
  <img class="hero-blue-komb hero-img" src=" {{ "orangenobg.png" | asset_url }}"
  alt="">
   <img class="hero-red-komb hero-img" src="
  {{ "greens1nobg.png" | asset_url }}" alt="">
   <img class="hero-yellow-komb
  hero-img" src=" {{ "strawberrynobg.png" | asset_url }}" alt="">
   <img
  class="hero-orange-komb hero-img" src=" {{ "WMSTnobg.png" | asset_url }}"
  alt="">
</div>




{% schema %}
{
    "presets": [
        {
          "name": "HomeHero"


        }
      ]
}
{% endschema %}

