<div class="hero">
  <div class="hero-title-container">
    <div class="hero-text-container">
      <p class='hero-title'>Detox Away</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. um, id. Illum
        deleniti sed um quam ad, maxime eaque inventore
      </p>
      <div class="hero-a-container">
        <a href="/collections/all">Shop Juices</a>
      </div>
    </div>
  </div>
  <img class="hero-blue-komb hero-img" src=" {{ "orangenobg.png" | asset_url }}"
  alt="">
   <img class="hero-red-komb hero-img" src="
  {{ "greens1nobg.png" | asset_url }}" alt="">
   <img class="hero-yellow-komb
  hero-img" src=" {{ "strawberrynobg.png" | asset_url }}" alt="">
   <img
  class="hero-orange-komb hero-img" src=" {{ "WMSTnobg.png" | asset_url }}"
  alt="">
</div>


{% schema %}
{
    "presets": [
        {
          "name": "HomeHero"


        }
      ]
}
{% endschema %}


{% stylesheet %}
.hero {
  position: relative;
}

.hero-title-container {
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15rem;
}
.hero-title {
  font-size: 100px !important;
  font-weight: bold;
  text-align: center;
  margin: 0;
  line-height: 8rem;
  width: 80rem !important;
}
.hero-text-container p {
  text-align: center;

  width: 35rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}
.hero-a-container {
  text-align: center;
}
.hero-a-container a {
  color: white;
}
.hero-text-container a {
  background-color: #f58153;

  padding: 1rem 2rem;

  color: white !important;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}
.hero-img {
  width: 35rem;
  position: absolute;
  top: 0;

  z-index: -10;
}
.hero-blue-komb {
  transform: rotate(-10deg);
  top: -2rem;
  left: -3rem;
}
.hero-red-komb {
  right: -5rem;
  transform: rotate(10deg);
  top: -2rem;
}
.hero-yellow-komb {
  right: -10rem;
  top: 10rem;
  transform: rotate(30deg);
}
.hero-orange-komb {
  left: -10rem;
  top: 10rem;
  transform: rotate(-30deg);
}

{% endstylesheet %}
