
<div class="ingredients-wrapper" >
  <svg
    class="wave-1 wave-el"
    version="1.1"
    id="curved-border"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 1600 116.19"
    xml:space="preserve"
  >
    <path
      class="wave"
      d="M0.1,119.43V67.45c0,0,99.87,71.51,322.45,8.12c5.56-1.66,92.01-26.52,125.74-35.72
	c77.28-21.08,219.28-41.4,311.28-38.34c233,7.77,323.98,82.1,469.23,96.61c149.64,14.94,288.45-12.46,371.26-36.99v55.34L0.1,119.43
	z"
    />
  </svg>

  <h1 class="ingredients-h1">
    <span class="all-ingredients"> All Natural</span>
    <span class="ingredients-span">Ingredients</span>
  </h1>
  <img class='ingredients-img ingredients-img' src="{{
    "strawberrynobg.png" | asset_url
  }}" alt="" />
  <div class="ingredient-text-container">
    <span class="ingredients-text">
      Our entirely plant-based juice is designed to make plant-forward living
      accessible
      <div class="shop-juices-container">
        <a href="/collections/all" class="shop-juices">Shop Juices</a>
      </div>
    </span>
  </div>
  <svg
    class="wave-2 wave-el"
    version="1.1"
    id="curved-border"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 1600 116.19"
    xml:space="preserve"
  >
    <path
      class="wave"
      d="M0.1,119.43V67.45c0,0,99.87,71.51,322.45,8.12c5.56-1.66,92.01-26.52,125.74-35.72
	c77.28-21.08,219.28-41.4,311.28-38.34c233,7.77,323.98,82.1,469.23,96.61c149.64,14.94,288.45-12.46,371.26-36.99v55.34L0.1,119.43
	z"
    />
  </svg>
</div>


{% stylesheet %}


.ingredients-wrapper {
  background-color: #f58153;
  position: relative;
  height: 55rem;
  margin-top: 5rem;
}
.ingredients-h1 {
  line-height: 7rem;
  position: absolute;
  font-size: 115px;
  transform: rotate(-10deg);
  top: 8rem;
  left: -2rem;
  z-index: 2;
}
.all-ingredients {

  color: #f58153;
  text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white,
    0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white,
    0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white,
    0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white,
    0 0 2px white;
}
.ingredients-span {

  display: block;
  padding-left: 5rem;
  color: white !important;
}
.ingredients-img {
  width: 40rem;
  position: absolute;
  right: -9rem;
  transform: rotate(25deg);
  bottom: 5rem;
}
.ingredient-text-container {
  position: relative;
  width: 100%;
  height: 55rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ingredients-text {
  width: 30rem;
  text-align: center;
  color: white !important;
  font-size: 30px;
  font-weight: bold;
}
.shop-juices-container {
  text-align: center;
  margin-top: 1rem;
}
.shop-juices {
  background-color: #011c28;
  font-size: initial;
  padding: 1rem 2rem;
  color: white !important;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}
.wave-1 {
  transform: rotate(180deg);
}
.wave-2 {
  bottom: 0;
  position: absolute;
  width: 100vw;
}
path {
  fill: #efefef;
}
@media only screen and (max-width: 1000px) {
  .ingredients-img {
    width: 35rem;

    right: -9rem;

  }

}
@media only screen and (max-width: 900px) {
  .ingredients-h1 {

  font-size: 100px;

}
   .wave-el{
    width: 120vw;
  }
}
@media only screen and (max-width: 800px) {
  .ingredients-h1 {
      line-height: 6rem;
  font-size: 85px;

  }
  .ingredients-img {
    width: 30rem;
    bottom: 8rem;


  }

}
@media only screen and (max-width: 700px) {
  .ingredients-h1 {
  margin-top: 5rem;
  line-height: 5rem;
  top: 6rem;
  left: -1rem;


  }
  .ingredients-img {
    width: 30rem;
    bottom: 8rem;


  }
  .wave-el{
    width: 125vw;
  }
}
@media only screen and (max-width: 600px) {
   .ingredients-h1 {
     top: 4rem;
    line-height: 4rem;
    font-size: 70px;

  }
  .ingredients-img {
    width: 25rem;
    bottom: 10rem;


  }
  .ingredients-text {
    margin-bottom: 5rem;
  }
  .ingredients-text {
    width: 25rem !important;
    font-size: 25px !important;
  }
   .wave-el{
    width: 155vw;
  }
}
@media only screen and (max-width: 500px) {
   .ingredients-h1 {

    font-size: 60px;

  }
  .ingredients-img {
    bottom: 8rem;
  }

   .wave-el{
    width: 165vw;
  }
}
@media only screen and (max-width: 440px) {
   .ingredients-h1 {
    font-size: 52px;
    line-height: 3rem;

  }
  .ingredients-img {
    bottom: 6rem;

  }
  .ingredients-text {
    margin-bottom: 7rem;
  }

}
{% endstylesheet %}

  {% schema %} {

    "presets": [ { "name": "Ingredients" } ] } {% endschema %}
