{% comment %} The contents of the product.liquid template can be found in
/sections/product-template.liquid {% endcomment %}
{% section 'juice-template' %}

<h1 class='recomended-title'>If you like this, you’re going to love these.</h1>
{% section 'home-products' %}
